body{
    background-image: url(bd9d5faeeef78945a3fca58615854325.jpg);
    
    
}
.todo{
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
@media (max-width: 0px) { 
    .todo{
        font-size: 60px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
 }
